@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));

  --color-primary: oklch(var(--primary));
  --color-primary-foreground: oklch(var(--primary-foreground));

  --color-secondary: oklch(var(--secondary));
  --color-secondary-foreground: oklch(var(--secondary-foreground));

  --color-destructive: oklch(var(--destructive));
  --color-destructive-foreground: oklch(var(--destructive-foreground));

  --color-muted: oklch(var(--muted));
  --color-muted-foreground: oklch(var(--muted-foreground));

  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(var(--accent-foreground));

  --color-popover: oklch(var(--popover));
  --color-popover-foreground: oklch(var(--popover-foreground));

  --color-card: oklch(var(--card));
  --color-card-foreground: oklch(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=--theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as even if you're using previous version of Tailwind.

  The same applies to form elements, which now also use `currentColor` for
  their border colors.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::placeholder,
  ::file-selector-button {
    border-color: var(--color-border);
  }
}

@layer base {
  :root {
    --background: 0.99 0 0;
    --foreground: 0.145 0 0;
    --card: 0.99 0 0;
    --card-foreground: 0.145 0 0;
    --popover: 0.99 0 0;
    --popover-foreground: 0.145 0 0;
    --primary: 0.205 0 0;
    --primary-foreground: 0.985 0 0;
    --secondary: 0.97 0 0;
    --secondary-foreground: 0.205 0 0;
    --muted: 0.97 0 0;
    --muted-foreground: 0.556 0 0;
    --accent: 0.97 0 0;
    --accent-foreground: 0.205 0 0;
    --destructive: 0.577 0.245 27.325;
    --destructive-foreground: 0.985 0 0;
    --border: 0.922 0 0;
    --input: 0.922 0 0;
    --ring: 0.205 0 0;
    --radius: 0.5rem;
    --chart-1: 0.646 0.222 41.116;
    --chart-2: 0.6 0.118 184.704;
    --chart-3: 0.398 0.07 227.392;
    --chart-4: 0.828 0.189 84.429;
    --chart-5: 0.769 0.188 70.08;
  }

  .dark {
    --background: 0.145 0 0;
    --foreground: 0.985 0 0;
    --card: 0.145 0 0;
    --card-foreground: 0.985 0 0;
    --popover: 0.145 0 0;
    --popover-foreground: 0.985 0 0;
    --primary: 0.985 0 0;
    --primary-foreground: 0.145 0 0;
    --secondary: 0.269 0 0;
    --secondary-foreground: 0.985 0 0;
    --muted: 0.269 0 0;
    --muted-foreground: 0.708 0 0;
    --accent: 0.269 0 0;
    --accent-foreground: 0.985 0 0;
    --destructive: 0.396 0.141 25.723;
    --destructive-foreground: 0.985 0 0;
    --border: 0.269 0 0;
    --input: 0.269 0 0;
    --ring: 0.869 0 0;
    --chart-1: 0.488 0.243 264.376;
    --chart-2: 0.696 0.17 162.48;
    --chart-3: 0.769 0.188 70.08;
    --chart-4: 0.627 0.265 303.9;
    --chart-5: 0.645 0.246 16.439;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}